* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2e7d32;
    padding: 1rem;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 13rem 2rem;
    background-image: url(home4.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-size:1350px;
    border-radius: 5px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: whitesmoke;
}
.hero p{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: whitesmoke;
}

.cta {
    padding: 0.75rem 1.5rem;
    background: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.quick-links {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.link-box {
    padding:4rem;
    background: #f1f8e9;
    border-radius: 5px;
    background-image: url(home3.jpg);
}

.link-box a {
    text-decoration: none;
    color: whitesmoke;
}

.content {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.resource, .tool, .blog-post {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: darkgreen;
    color: white;
    border-radius: 5px;

}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: #2e7d32;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .quick-links {
        flex-direction: column;
    }
}
